@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@model InventoryControlPages.AlmacenistaModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using AlmacenSQLiteEntities;
@using AlmacenDataContext;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/script.js" defer></script>
    <title>Usuarios</title>
</head>
<body>
    <div class="titles">
        <h1>Bienvenido, @Model.almacenista.Nombre @Model.almacenista.ApellidoPaterno</h1>
        <p>Almacenista</p>
    </div> 

    <div class="titles" onclick="toggleContent()">
        <h1><h1><a href="#SApDContent">Solicitudes Aprobadas proximas Docentes</a></h1>
    </div>
        <div class="table-database hidden-content open" id="SApDContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                        <td><p>Aprobacion</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.DocenteId != null && d.Pedido.EstudianteId == null && d.Pedido.Fecha.Value.Date > DateTime.Now.Date).OrderBy(d => d.Pedido.Fecha);
                                if(descPedidos is null || !descPedidos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No tiene solicitudes aprobadas proximas para docentes</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        <td id="campos">@p.Pedido.Estado</td>
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="DeleteOrder">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="pedidoId" value="@p.Pedido.PedidoId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    <div class="titles" onclick="toggleContent()">
        <h1><a href="#SApEContent">Solicitudes Aprobadas proximas Estudiantes</a></h1>
    </div>
    <div class="table-database hidden-content open" id="SApEContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                        <td><p>Estudiante</p></td>
                        <td><p>Aprobacion</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.DocenteId != null && d.Pedido.EstudianteId != null && d.Pedido.Estado == true && d.Pedido.Fecha.Value.Date > DateTime.Now.Date).OrderBy(d => d.Pedido.Fecha);
                                if(descPedidos is null || !descPedidos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No tiene solicitudes aprobadas proximas para estudiantes</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        <td id="campos">@p.Pedido.Estado</td>
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                        <td id="campos">@p.Pedido.Estudiante.Nombre</td>
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="DeleteOrder">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="pedidoId" value="@p.Pedido.PedidoId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    <div class="titles" onclick="toggleContent()">
        <h1><a href="#SNApEContent">Solicitudes No Aprobadas proximas Estudiantes</a></h1>
    </div>
        <div class="table-database hidden-content open" id="SNApEContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                        <td><p>Estudiante</p></td>
                        <td><p>Aprobacion</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.EstudianteId != null && d.Pedido.Estado == false && d.Pedido.Fecha.Value.Date > DateTime.Now.Date).OrderBy(d => d.Pedido.Fecha);
                                if(descPedidos is null || !descPedidos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No tiene solicitudes no aprobadas proximas para estudiantes</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        <td id="campos">@p.Pedido.Estado</td>
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                        <td id="campos">@p.Pedido.Estudiante.Nombre</td>
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="Approve">
                                            <input type="hidden" name="pedidoId" value="@p.Pedido.PedidoId" />
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <button type="submit">Aprobar</button>
                                        </form>
                                        <form method="POST" asp-page-handler="Decline">
                                            <input type="hidden" name="pedidoId" value="@p.Pedido.PedidoId" />
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <button type="submit">Denegar</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    <div class="titles" onclick="toggleContent()">
        <h1><a href="#HTSContent">Historial Total de Solicitudes</a></h1>
    </div>
    <div class="table-database hidden-content open" id="HTSContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                        <td><p>Estudiante</p></td>
                        <td><p>Aprobacion</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.Fecha.Value.Date < DateTime.Now.Date).OrderBy(d => d.Pedido.Fecha);
                                if(descPedidos is null || !descPedidos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No tiene solicitudes anteriores</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        @if(p.Pedido.DocenteId is not null){
                                            <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        }
                                        else{
                                            <td id="campos"></td>
                                        }
                                        <td id="campos">@p.Pedido.Estado</td>
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                        @if(p.Pedido.EstudianteId is not null){
                                            <td id="campos">@p.Pedido.Estudiante.Nombre</td>
                                        }
                                        else{
                                            <td id="campos"></td>
                                        }
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="DeleteOrder">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="pedidoId" value="@p.Pedido.PedidoId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    <div class="titles" onclick="toggleContent()">
        <h1><a href="#cContent">Categorias</a></h1>
    </div>
    <div class="content-container hidden-content open" id="cContent">
        <div class="insert-database open">
            <div>
                <p>Nueva categoria</p>
                <form method="POST" asp-page-handler="NewCat">
                    <div class="fields-table">
                        <input asp-for="categoria.Nombre" placeholder="Nombre" class="form-control">
                        <span asp-validation-for="categoria.Nombre" class="text-danger"></span>

                        <input asp-for="categoria.Descripcion" placeholder="Descripcion" class="form-control" required>
                        <span asp-validation-for="categoria.Descripcion" class="text-danger"></span>

                        <select asp-for="categoria.Acceso" placeholder="Acceso" class="fields-table" required>
                            <option value="1">Todos</option>
                            <option value="2">Solo docentes</option>
                        </select>
                        <span asp-validation-for="categoria.Acceso" class="text-danger"></span>
                        <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId" />
                        <input id="enviar" type="submit" />
                    </div>
                </form>
            </div>
        </div>

        <div class="table-database open">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Nombre</p></td>
                        <td><p>Descripcion</p></td>
                        <td><p>Eliminar</p></td>
                        <td><p>Modificar</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                                if(db.Categorias is null || !db.Categorias.Any()){
                                    <tr>
                                        <td><p class="text-danger">No hay categorias registradas</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var c in db.Categorias){
                                    <tr>
                                        <td id="id">@c.CategoriaId</td>
                                        <td id="campos">@c.Nombre</td>
                                        <td id="campos">@c.Descripcion</td>
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="DeleteCategoria">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="categoriaId" value="@c.CategoriaId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                        </td>
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="Update">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="registroId" value="@c.CategoriaId" />
                                            <input type="hidden" name="tableId" value="categoria" />
                                            <button type="submit">Update</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="titles" onclick="toggleContent()">
        <h1><a href="#marcaContent">Marca</a></h1>
    </div>
    <div class="content-container hidden-content open" id="marcaContent">
        <div class="insert-database open">
            <div>
                <p>Nueva marca</p>
                <form method="POST" asp-page-handler="NewMarca">
                    <div class="fields-table">
                        <input asp-for="marca.Nombre" placeholder="Nombre" class="form-control">
                        <span asp-validation-for="marca.Nombre" class="text-danger"></span>

                        <input asp-for="marca.Descripcion" placeholder="Descripcion" class="form-control" required>
                        <span asp-validation-for="marca.Descripcion" class="text-danger"></span>

                        <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId" />
                        <input id="enviar" type="submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="table-database open">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Nombre</p></td>
                        <td><p>Descripcion</p></td>
                        <td><p>Eliminar</p></td>
                        <td><p>Modificar</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                                if(db.Marcas is null || !db.Marcas.Any()){
                                    <tr>
                                        <td><p class="text-danger">No hay Marcas registradas</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var c in db.Marcas){
                                    <tr>
                                        <td id="id">@c.MarcaId</td>
                                        <td id="campos">@c.Nombre</td>
                                        <td id="campos">@c.Descripcion</td>
                                        <td id="campos" type="hidden">
                                        <form method="POST" asp-page-handler="DeleteMarca">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="marcaId" value="@c.MarcaId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                        </td>
                                        <td id="campos" type="hidden">
                                        <form method="POST" asp-page-handler="Update">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="registroId" value="@c.MarcaId" />
                                            <input type="hidden" name="tableId" value="marca" />
                                            <button type="submit">Update</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="titles" onclick="toggleContent()">
        <h1><a href="#modeloContent">Modelo</a></h1>
    </div>
    <div class="content-container hidden-content open" id="modeloContent">
        <div class="insert-database open">
            <div>
                <p>Nueva Modelo</p>
                <form method="POST" asp-page-handler="NewModelo">
                    <div class="fields-table">
                        <input asp-for="modelo.Nombre" placeholder="Nombre" class="form-control">
                        <span asp-validation-for="modelo.Nombre" class="text-danger"></span>

                        <input asp-for="modelo.Descripcion" placeholder="Descripcion" class="form-control" required>
                        <span asp-validation-for="modelo.Descripcion" class="text-danger"></span>

                        <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId" />
                        <input id="enviar" type="submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="table-database open">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Nombre</p></td>
                        <td><p>Descripcion</p></td>
                        <td><p>Eliminar</p></td>
                        <td><p>Modificar</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                                if(db.Modelos is null || !db.Modelos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No hay Modelos registradas</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var c in db.Modelos){
                                    <tr>
                                        <td id="id">@c.ModeloId</td>
                                        <td id="campos">@c.Nombre</td>
                                        <td id="campos">@c.Descripcion</td>
                                        <td id="campos" type="hidden">
                                        <form method="POST" asp-page-handler="DeleteModelo">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="modeloId" value="@c.ModeloId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                        </td>
                                        <td id="campos" type="hidden">
                                        <form method="POST" asp-page-handler="Update">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="registroId" value="@c.ModeloId" />
                                            <input type="hidden" name="tableId" value="modelo" />
                                            <button type="submit">Update</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="titles" onclick="toggleContent()">
        <h1><a href="#materialContent">Material</a></h1>
    </div>
    <div class="content-container hidden-content open" id="materialContent">
        <div class="insert-database open">
            <div>
                <p>Nueva Material</p>
                <form method="POST" asp-page-handler="NewMaterial">
                    <div class="fields-table">
                        <select asp-for="material.CategoriaId" placeholder="Categoria" class="fields-table" required>
                            <option value="">Selecciona una categoria</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    List<Categoria> categorias = db.Categorias.ToList();
                                    foreach (var c in categorias)
                                    {
                                        <option value="@c.CategoriaId">@c.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="material.CategoriaId" class="text-danger"></span>
                        
                        <select asp-for="material.MarcaId" placeholder="Marca" class="fields-table" required>
                            <option value="">Selecciona una Marca</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    List<Marca> marcas = db.Marcas.ToList();
                                    foreach (var c in marcas)
                                    {
                                        <option value="@c.MarcaId">@c.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="material.MarcaId" class="text-danger"></span>
                        
                        <select asp-for="material.PlantelId" placeholder="Plantel" class="fields-table" required>
                            <option value="">Selecciona un Plantel</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    List<Plantel> planteles = db.Planteles.ToList();
                                    foreach (var c in planteles)
                                    {
                                        <option value="@c.PlantelId">@c.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="material.PlantelId" class="text-danger"></span>
                        
                        <select asp-for="material.ModeloId" placeholder="Modelo" class="fields-table" required>
                            <option value="">Selecciona un Modelo</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    List<Modelo> modelos = db.Modelos.ToList();
                                    foreach (var c in modelos)
                                    {
                                        <option value="@c.ModeloId">@c.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="material.ModeloId" class="text-danger"></span>
                        
                        <input asp-for="material.Descripcion" placeholder="Descripcion" class="form-control" required>
                        <span asp-validation-for="material.Descripcion" class="text-danger"></span>
                        
                        <input asp-for="material.YearEntrada" placeholder="Año entrada" class="form-control">
                        <span asp-validation-for="material.YearEntrada" class="text-danger"></span>

                        <input asp-for="material.Serie" placeholder="Serie" class="form-control">
                        <span asp-validation-for="material.Serie" class="text-danger"></span>
                        
                        <input type="number" asp-for="material.ValorHistorico" placeholder="Valor Historico" class="form-control">
                        <span asp-validation-for="material.ValorHistorico" class="text-danger"></span>
                        
                        <select asp-for="material.Condicion" placeholder="Condicion" class="fields-table" required>
                            <option value="1">Normal</option>
                            <option value="2">Mantenimiento</option>
                        </select>
                        <span asp-validation-for="material.Condicion" class="text-danger"></span>

                        <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId" />
                        <input id="enviar" type="submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="table-database open">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Modelo</p></td>
                        <td><p>Descripcion</p></td>
                        <td><p>Año entrada</p></td>
                        <td><p>Marca</p></td>
                        <td><p>Categoria</p></td>
                        <td><p>Plantel</p></td>
                        <td><p>Serie</p></td>
                        <td><p>Valor Historico</p></td>
                        <td><p>Condicion</p></td>
                        <td><p>Eliminar</p></td>
                        <td><p>Modificar</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                                if(db.Materiales is null || !db.Materiales.Any()){
                                    <tr>
                                        <td><p class="text-danger">No hay Materiales registradas</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var m in db.Materiales){
                                    <tr>
                                        <td id="id">@m.MaterialId</td>
                                        <td id="campos">@m.Modelo.Nombre</td>
                                        <td id="campos">@m.Descripcion</td>
                                        <td id="campos">@m.YearEntrada</td>
                                        <td id="campos">@m.Marca.Nombre</td>
                                        <td id="campos">@m.Categoria.Nombre</td>
                                        <td id="campos">@m.Plantel.Nombre</td>
                                        <td id="campos">@m.Serie</td>
                                        <td id="campos">@m.ValorHistorico</td>
                                        <td id="campos">@m.Condicion</td>
                                        <td id="campos" type="hidden">
                                        <form method="POST" asp-page-handler="DeleteMaterial">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="materialId" value="@m.MaterialId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                        </td>
                                        <td id="campos" type="hidden">
                                        <form method="POST" asp-page-handler="Update">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="registroId" value="@m.MaterialId" />
                                            <input type="hidden" name="tableId" value="material" />
                                            <button type="submit">Update</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="titles" onclick="toggleContent()">
        <h1><a href="#mantContent">Mantenimiento</a></h1>
    </div>
    <div class="content-container hidden-content open" id="mantContent">
        <div class="insert-database open">
            <div>
                <p>Nueva Mantenimiento</p>
                <form method="POST" asp-page-handler="NewMant">
                    <div class="fields-table">
                        <input asp-for="mantenimiento.Nombre" placeholder="Nombre" class="form-control">
                        <span asp-validation-for="mantenimiento.Nombre" class="text-danger"></span>

                        <input asp-for="mantenimiento.Descripcion" placeholder="Descripcion" class="form-control" required>
                        <span asp-validation-for="mantenimiento.Descripcion" class="text-danger"></span>
                        <span class="text-danger">@Model.ErrorMessage</span>

                        <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId" />
                        <input id="enviar" type="submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="table-database open" >
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Nombre</p></td>
                        <td><p>Descripcion</p></td>
                        <td><p>Eliminar</p></td>
                        <td><p>Modificar</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                                if(db.Mantenimientos is null || !db.Mantenimientos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No hay Mantenimientos registrados</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var c in db.Mantenimientos){
                                    <tr>
                                        <td id="id">@c.MantenimientoId</td>
                                        <td id="campos">@c.Nombre</td>
                                        <td id="campos">@c.Descripcion</td>
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="DeleteMant">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="mantenimientoId" value="@c.MantenimientoId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                        </td>
                                        <td id="campos" type="hidden">
                                        <form method="POST" asp-page-handler="Update">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="registroId" value="@c.MantenimientoId" />
                                            <input type="hidden" name="tableId" value="mantenimiento" />
                                            <button type="submit">Update</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="titles" onclick="toggleContent()">
        <h1><a href="#reportmantContent">Reportes de Mantenimiento</a></h1>
    </div>
    <div class="content-container hidden-content open" id="reportmantContent">
        <div class="insert-database open">
            <div>
                <p>Nueva Reporte de Mantenimiento</p>
                <form method="POST" asp-page-handler="NewReportMant">
                    <div class="fields-table">
                        <input asp-for="reporteMantenimiento.Fecha" placeholder="Nombre" class="form-control">
                        <span asp-validation-for="reporteMantenimiento.Fecha" class="text-danger"></span>

                        <select asp-for="reporteMantenimiento.MantenimientoId" placeholder="Modelo" class="fields-table" required>
                            <option value="">Selecciona un Mantenimiento</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    List<Mantenimiento> mantenimientos = db.Mantenimientos.ToList();
                                    foreach (var c in mantenimientos)
                                    {
                                        <option value="@c.MantenimientoId">@c.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="reporteMantenimiento.MantenimientoId" class="text-danger"></span>
                        
                        <select asp-for="reporteMantenimiento.MaterialId" placeholder="Modelo" class="fields-table" required>
                            <option value="">Selecciona un Material</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    IQueryable<Material> materiales = db.Materiales.Where(m => m.Condicion == "1");
                                    foreach (var m in materiales)
                                    {
                                        <option value="@m.MaterialId">@m.MaterialId: @m.Categoria.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="reporteMantenimiento.MaterialId" class="text-danger"></span>
                        <span class="text-danger">@Model.ErrorMessage</span>

                        <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId" />
                        <input id="enviar" type="submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="table-database open" >
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Fecha</p></td>
                        <td><p>Mantenimiento</p></td>
                        <td><p>Id Material</p></td>
                        <td><p>Material</p></td>
                        <td><p>Eliminar</p></td>
                        <td><p>Modificar</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                                if(db.ReporteMantenimientos is null || !db.ReporteMantenimientos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No hay Reportes de Mantenimiento registrados</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var c in db.ReporteMantenimientos){
                                    <tr>
                                        <td id="id">@c.ReporteMantenimientoId</td>
                                        <td id="campos">@c.Fecha</td>
                                        <td id="campos">@c.Mantenimiento.Nombre</td>
                                        <td id="campos">@c.Material.MaterialId</td>
                                        <td id="campos">@c.Material.Categoria.Nombre</td>
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="DeleteReportMant">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="reporteMantenimientoId" value="@c.ReporteMantenimientoId" />
                                            <button type="submit">Delete</button>
                                        </form>
                                        </td>
                                        <td id="campos" type="hidden">
                                        <form method="POST" asp-page-handler="Update">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="registroId" value="@c.ReporteMantenimientoId" />
                                            <input type="hidden" name="tableId" value="reporteMantenimiento" />
                                            <button type="submit">Update</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    
    
    <div class="titles" onclick="toggleContent()">
        <h1><a href="#MPContent">Materiales Prestados</a></h1>
    </div>
        <div class="table-database hidden-content open" id="MPContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Modelo</p></td>
                        <td><p>Descripcion</p></td>
                        <td><p>Año entrada</p></td>
                        <td><p>Marca</p></td>
                        <td><p>Categoria</p></td>
                        <td><p>Plantel</p></td>
                        <td><p>Serie</p></td>
                        <td><p>Valor Historico</p></td>
                        <td><p>Condicion</p></td>
                        <td><p>Entrega</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<Material>? materiales = db.Materiales.Where(m => m.Condicion == "2");
                                if(materiales is null || !materiales.Any()){
                                    <tr>
                                        <td><p class="text-danger">No hay materiales prestados</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var m in materiales){
                                    <tr>
                                        <td id="id">@m.MaterialId</td>
                                        <td id="campos">@m.Modelo.Nombre</td>
                                        <td id="campos">@m.Descripcion</td>
                                        <td id="campos">@m.YearEntrada</td>
                                        <td id="campos">@m.Marca.Nombre</td>
                                        <td id="campos">@m.Categoria.Nombre</td>
                                        <td id="campos">@m.Plantel.Nombre</td>
                                        <td id="campos">@m.Serie</td>
                                        <td id="campos">@m.ValorHistorico</td>
                                        <td id="campos">@m.Condicion</td>
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="Entrega">
                                            <input type="hidden" name="almacenistaId" value="@Model.almacenista.AlmacenistaId"/>
                                            <input type="hidden" name="registroId" value="@m.MaterialId" />
                                            <button type="submit">Entrega</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
</body>
</html>