@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@model InventoryControlPages.DocenteModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using AlmacenSQLiteEntities;
@using AlmacenDataContext;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/script.js" defer></script>
    <title>Usuarios</title>
</head>
<body>
    <div class="welcome-title titles">
        <h1 id="Inicio">Bienvenido, @Model.docente.Nombre @Model.docente.ApellidoPaterno</h1>
        <br>
        <p>Docentes</p>
    </div>

    <div class="titles" onclick="toggleContent()">
        <h1><a href="#solicitudesActualesContent">Solicitudes Actuales</a></h1>
    </div>

    
        <div class="table-database hidden-content open" id="solicitudesActualesContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                        <td><p>Estudiante</p></td>
                        <td><p>Aprobacion</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.DocenteId == Model.docente.DocenteId && d.Pedido.EstudianteId != null && d.Pedido.Estado == false && d.Pedido.Fecha.Value.Date > DateTime.Now.Date).OrderBy(d => d.Pedido.Fecha);
                                if(descPedidos is null || !descPedidos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No tiene solicitudes actuales</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        @if(p.Pedido.Estado == false){
                                            <td id="campos">NO</td>
                                        }
                                        else{
                                            <td id="campos">SI</td>
                                        }
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                        <td id="campos">@p.Pedido.Estudiante.Nombre</td>
                                        <td id="campos">
                                        <form method="POST" asp-page-handler="Approve">
                                            <input type="hidden" name="pedidoId" value="@p.Pedido.PedidoId" />
                                            <button type="submit">Aprobar</button>
                                        </form>
                                        <form method="POST" asp-page-handler="Decline">
                                            <input type="hidden" name="pedidoId" value="@p.Pedido.PedidoId" />
                                            <button type="submit">Denegar</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    <div class="titles" onclick="toggleContent()">
        <h1 id="Pedidos"><a href="#pedidosActualesContent">Pedidos Actuales Propios</a></h1>
    </div>

    
        <div class="table-database hidden-content open" id="pedidosActualesContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.DocenteId == Model.docente.DocenteId && d.Pedido.EstudianteId == null && d.Pedido.Fecha.Value.Date > DateTime.Now.Date).OrderBy(d => d.Pedido.Fecha);
                                if(descPedidos is null || !descPedidos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No tiene pedidos actuales</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        @if(p.Pedido.Estado == false){
                                            <td id="campos">NO</td>
                                        }
                                        else{
                                            <td id="campos">SI</td>
                                        }
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    <div class="titles" onclick="toggleContent()">
        <h1 id="Solicitud"><a href="#hacerPedidoContent">Hacer un pedido</a></h1>
    </div>

    
        <div class="insert-database hidden-content open" id="hacerPedidoContent">
            <div>
                <p>Nuevo pedido</p>
                <form method="POST" onsubmit="recargarPagina()">
                    <div class="fields-table">
                        <label for="Fecha">Fecha y Hora de entrega:
                            <input asp-for="pedido.Fecha" placeholder="Fecha" class="form-control" required>
                        </label>
                        <span asp-validation-for="pedido.Fecha" class="text-danger"></span>

                        <label for="horaDevolucion">Hora de Devolución:
                            <input asp-for="pedido.HoraDevolucion" placeholder="HoraDevolucion" class="form-control" required>
                        </label>
                        <span asp-validation-for="pedido.HoraDevolucion" class="text-danger"></span>

                        <select asp-for="pedido.LaboratorioId" placeholder="Laboratorio" class="fields-table" required>
                            <option value="">Selecciona un laboratorio</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    List<Laboratorio> laboratorio = db.Laboratorios.ToList();

                                    foreach (var lab in laboratorio)
                                    {
                                        <option value="@lab.LaboratorioId">@lab.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="pedido.LaboratorioId" class="text-danger"></span>

                        <select asp-for="categoria.CategoriaId" placeholder="Material" class="fields-table" required>
                            <option value="">Selecciona una categoria</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    IQueryable<Categoria> categorias = db.Categorias.Where(c => c.Acceso == "1" || c.Acceso == "2");

                                    foreach (var c in categorias)
                                    {
                                        <option value="@c.CategoriaId">@c.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="categoria.CategoriaId" class="text-danger"></span>

                        <input asp-for="descPedido.Cantidad" placeholder="Cantidad" class="form-control" required>
                        <span asp-validation-for="descPedido.Cantidad" class="text-danger"></span>

                        <input type="hidden" asp-for="pedido.DocenteId" value="@Model.docente.DocenteId" />
                        <span asp-validation-for="pedido.DocenteId" class="text-danger"></span>

                        <span class="text-danger">@Model.ErrorMessage</span>
                        <input id="enviar" type="submit" />
                    </div>
                </form>
            </div>
        </div>

    <div class="titles" onclick="toggleContent()">
        <h1 id="HD"><a href="#historialSolicitudesContent">Historial de Solicitudes</a></h1>
    </div>

    
        <div class="table-database hidden-content open" id="historialSolicitudesContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.DocenteId == Model.docente.DocenteId && d.Pedido.Fecha.Value.Date < DateTime.Now.Date).OrderBy(d => d.Pedido.Fecha);
                                if(descPedidos is null || !descPedidos.Any()){
                                    <tr>
                                    <td><p class="text-danger">No tiene solicitudes anteriores</p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                </tr>
                                }
                                else{
                                    foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        @if(p.Pedido.Estado == false){
                                            <td id="campos">NO</td>
                                        }
                                        else{
                                            <td id="campos">SI</td>
                                        }
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    <div class="titles" onclick="toggleContent()">
        <h1 id="HE"><a href="#historialSolicitudesEstContent">Historial de Solicitudes Estudiantes</a></h1>
    </div>

    
        <div class="table-database hidden-content open" id="historialSolicitudesEstContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                        <td><p>Estudiante</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.DocenteId == Model.docente.DocenteId && d.Pedido.EstudianteId != null && d.Pedido.Estado == true).OrderBy(d => d.Pedido.Fecha);
                                if(descPedidos is null || !descPedidos.Any()){
                                    <tr>
                                    <td><p class="text-danger">No tiene solicitudes anteriores de estudiantes</p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                </tr>
                                }
                                else{
                                    foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        @if(p.Pedido.Estado == false){
                                            <td id="campos">NO</td>
                                        }
                                        else{
                                            <td id="campos">SI</td>
                                        }
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                        <td id="campos">@p.Pedido.Estudiante.Nombre</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    <div class="titles" onclick="toggleContent()">
        <h1 id="Materiales"><a href="#materialesContent">Materiales</a></h1>
    </div>

    
        <div class="table-database hidden-content open" id="materialesContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Nombre</p></td>
                        <td><p>Descripcion</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                                if(db.Categorias is null || !db.Categorias.Any()){
                                    <td><p class="text-danger">No hay materiales registrados</p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                }
                                else{
                                    foreach(var c in db.Categorias){
                                    <tr>
                                        <td id="id">@c.CategoriaId</td>
                                        <td id="campos">@c.Nombre</td>
                                        <td id="campos">@c.Descripcion</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
</body>
</html>