@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@model InventoryControlPages.EstudianteModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using AlmacenSQLiteEntities;
@using AlmacenDataContext;
@using InventoryControl.UI;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/script.js" defer></script>
    <title>Usuarios</title>
</head>
<body>
    <div class="welcome-title titles">
        <h1 id="Inicio">Bienvenido, @Model.estudiante.Nombre @Model.estudiante.ApellidoPaterno</h1>
        <br>
        <p>Estudiantes</p>
    </div>
    <div class="titles" onclick="toggleContent()">
        <h1><a href="#pedidosActualesContent">Pedidos Actuales</a></h1>
    </div>
    
        <div class="table-database hidden-content open" id="pedidosActualesContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.EstudianteId == Model.estudiante.EstudianteId && d.Pedido.Fecha.Value.Date > DateTime.Now.Date).OrderBy(d => d.Pedido.Fecha);
                            if(descPedidos is null || !descPedidos.Any()){
                                <tr>
                                    <td><p class="text-danger">No tiene pedidos actuales</p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                </tr>
                            }
                            else{
                                foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        @if(p.Pedido.Estado == false){
                                            <td id="campos">NO</td>
                                        }
                                        else{
                                            <td id="campos">SI</td>
                                        }
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="titles" onclick="toggleContent()">
            <h1 id="Pedido"><a href="#hacerPedidoContent">Hacer un pedido</a></h1>
        </div>
    
        <div class="insert-database hidden-content open" id="hacerPedidoContent">
            <div>
                <p>Nuevo pedido</p>
                <form method="POST" onsubmit="recargarPagina()" asp-page-handler="NewOrder">
                    <div class="fields-table">
                        <label for="Fecha">Fecha y Hora de entrega:
                            <input asp-for="pedido.Fecha" placeholder="Fecha" class="form-control" required>
                        </label>
                        <span asp-validation-for="pedido.Fecha" class="text-danger"></span>

                        <label for="horaDevolucion">Hora de Devolución:
                            <input asp-for="pedido.HoraDevolucion" placeholder="HoraDevolucion" class="form-control" required>
                        </label>
                        <span asp-validation-for="pedido.HoraDevolucion" class="text-danger"></span>

                        <select asp-for="pedido.LaboratorioId" placeholder="Laboratorio" class="fields-table" required>
                            <option value="">Selecciona un laboratorio</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    List<Laboratorio> laboratorio = db.Laboratorios.ToList();

                                    foreach (var lab in laboratorio)
                                    {
                                        <option value="@lab.LaboratorioId">@lab.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="pedido.LaboratorioId" class="text-danger"></span>
                            
                        <select asp-for="pedido.DocenteId" placeholder="Docente" class="fields-table" required>
                            <option value="">Selecciona un docente</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    List<Docente> docentes = db.Docentes.ToList();

                                    foreach (var d in docentes)
                                    {
                                        <option value="@d.DocenteId">@d.ApellidoPaterno @d.ApellidoMaterno @d.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="pedido.DocenteId" class="text-danger"></span>

                        <select asp-for="categoria.CategoriaId" placeholder="Material" class="fields-table" required>
                            <option value="">Selecciona una categoria</option>
                            @{
                                using (Almacen db = new Almacen())
                                {
                                    IQueryable<Categoria> categorias = db.Categorias.Where(c => c.Acceso == "1");

                                    foreach (var c in categorias)
                                    {
                                        <option value="@c.CategoriaId">@c.Nombre</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="categoria.CategoriaId" class="text-danger"></span>

                        <input asp-for="descPedido.Cantidad" placeholder="Cantidad" class="form-control" required>
                        <span asp-validation-for="descPedido.Cantidad" class="text-danger"></span>

                        <input type="hidden"asp-for="pedido.EstudianteId" value=@Model.estudiante.EstudianteId>
                        <span asp-validation-for="pedido.EstudianteId" class="text-danger"></span>

                        <span class="text-danger">@Model.ErrorMessageEstudiante</span>
                        <input id="enviar" type="submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="titles" onclick="toggleContent()">
            <h1 id="Historial"><a href="#historialContent">Historial de Solicitudes</a></h1>
        </div>
    
        <div class="table-database hidden-content open" id="historialContent">
            <table border="1">
                <thead>
                    <tr>
                        <td><p>Id</p></td>
                        <td><p>Laboratorio</p></td>
                        <td><p>Hora de entrega</p></td>
                        <td><p>Hora de devolucion</p></td>
                        <td><p>Docente</p></td>
                        <td><p>Estado</p></td>
                        <td><p>Material</p></td>
                        <td><p>Cantidad</p></td>
                    </tr>
                </thead>
                <tbody>
                    @{using(Almacen db = new ()){
                            IQueryable<DescPedido>? descPedidos = db.DescPedidos.Include(d => d.Pedido).Include(d => d.Material).Where(d => d.Pedido.EstudianteId == Model.estudiante.EstudianteId && d.Pedido.Fecha.Value.Date < DateTime.Now.Date).OrderBy(d => d.Pedido.Fecha);
                                if(descPedidos is null || !descPedidos.Any()){
                                    <tr>
                                        <td><p class="text-danger">No tiene solicitudes anteriores</p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                        <td><p></p></td>
                                    </tr>
                                }
                                else{
                                    foreach(var p in descPedidos){
                                    <tr>
                                        <td id="id">@p.Pedido.PedidoId</td>
                                        <td id="campos">@p.Pedido.Laboratorio.Nombre</td>
                                        <td id="campos">@p.Pedido.HoraEntrega</td>
                                        <td id="campos">@p.Pedido.HoraDevolucion</td>
                                        <td id="campos">@p.Pedido.Docente.Nombre</td>
                                        @if(p.Pedido.Estado == false){
                                            <td id="campos">NO</td>
                                        }
                                        else{
                                            <td id="campos">SI</td>
                                        }
                                        <td id="campos">@p.Material.Categoria.Nombre</td>
                                        <td id="campos">@p.Cantidad</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
</body>
</html>